* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(245, 245, 245);
}
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 14px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index: 1;
}

a:visited {
    color: rgb(22, 22, 22);
    text-decoration: none;
}

a:link {
    color: rgb(22, 22, 22);
    text-decoration: none;
}


.iconAnchor {
    margin-left: 3vw;
}

.navButton1 {
    display: none;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}

.navButton2 {
    display: none;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}

.navButton3 {
    display: none;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}
.navButton4 {
    display: none;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}

.navButtons {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* 


FIN DE NAVBAR - INICIO DEL MAIN 


*/

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
    background-color: white;
}

.introContainer {
    /*margin-top: 20px; */
    width: 100%;
    /* FOR PC QUERIES : 80% */
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.introTexts {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 90px;
}

#extraText {
    margin-top: 150px;
    padding: 50px;
    text-align: center;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* ROW FOR PC */
    gap: 25px;
}

.contactButton {
    padding: 15px;
    color: white;
    background-color: rgb(51, 83, 112);
    transition: color 0.3s, background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-stretch: wider;
    font-weight: 700;
    font-size: large;
    border-radius: 25px;
    border: none;
}
.contactButton:hover {
    background-color: white;
    color: black
}
.infoButton {
    padding: 15px;
    color: whsite;
    font-family: 'Montserrat', sans-serif;
    font-stretch: wider;
    font-weight: 700;
    font-size: large;
    background-color: white;
    border: 2px solid rgb(51, 83, 112);
    transition: color 0.3s, color 0.3s;
    border-radius: 25px;
}
.infoButton:hover {
    background-color: rgb(51, 83, 112);
    color: white;
}
.mainImgDiv {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 30px;
}

/*

BENEFICIOS

*/
.beneficios {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.beneficios h4 {
    margin-top: 15px;
    /*color: rgb(51, 83, 112); */
}


.beneficiosText {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

}

.beneficiosLista {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    gap: 150px;
    margin-top: 150px;
}

.benefDesc {
    margin-top: 15px;
}

/*
#heart {
    color: rgb(51, 83, 112);
}
#lightning {
    color: rgb(51, 83, 112);
}
#ear {
    color: rgb(51, 83, 112);
}
*/
/*

HOW WE WORK

*/

.trabajo {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.trabajo h4 {
    margin-top: 15px;
}


.trabajoText {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

}

.trabajoLista {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    gap: 150px;
    margin-top: 50px;
}

#icon1 {
    padding: 15px;
    border-radius: 60px;
    border: 2px solid rgb(51, 83, 112)
}

#icon2 {
    padding: 15px;
    border-radius: 60px;
    border: 2px solid rgb(51, 83, 112)
}

#icon3 {
    background-color: rgb(51, 83, 112);
    padding: 15px;
    border-radius: 60px;
    color: white;
}

.trabajoDesc {
    margin-top: 15px;
}
/* 

HISTORIAL

*/
.historial {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.historialText {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.historialDesc {
    margin-top: 15px;
}

.historialImgs {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#img5 {
    display: none;
}
.hImg {
    width: 200px;
    /*transition: width 0.3s; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
/* .hImg:hover {
    animation-name: hImgs;
    width: 250px;
    transition: ;
}
*/
/*

CONTACT INFO

*/
.contact {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contactTexts {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactTexts p {
    margin-top: 10px;
}
.contactNumber {
    display: flex;
    flex-direction: row;
}
.contactNumber p{
    margin-right: 5px;
}
#telephone {
    color: black;
    margin-right: 10px;
}
.localImg {
    width: 300px;
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}
/* 

FOOTER

*/

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);

}
/*

MEDIA QUERIES

*/
@media (min-width: 1024px) {
    main {
        width: 90vw;
        left: 5vw;
        right: 5vw;
    }

    .introContainer {
        width: 80%;
        flex-direction: row;
        padding-top: 70px;
    }

    .buttons {
        flex-direction: row;
    }

    .navButton1 {
        display: inline;
    }

    .navButton2 {
        display: inline;
    }

    .navButton3 {
        display: inline;
    }
    .navButton4 {
        display: inline;
    }

    .menuIcon {
        display: none;
    }

    .introTexts {
        padding: 40px;
    }

    .beneficiosLista {
        flex-direction: row;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: 50px;
    }

    .mainImgDiv {
        display: inline;
    }

    .introContainer {
        margin-top: 0px;
    }
    .trabajoLista {
        flex-direction: row;
    }
    .historialImgs {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    #img5 {
        display: block;
    }
    .localImg { 
        width: 500px;
    }
}